
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

*.sqlite3
db.sqlite3

*.log

venv/
env/
ENV/

.env.local
.env.docker

docker-compose.override.yml


build/
dist/
*.egg-info/

.vscode/
.idea/

staticfiles/
media/

.DS_Store
Thumbs.db