
__pycache__/
*.py[cod]
*.pyc

*.sqlite3


*.log

*/migrations/*.py
!*/migrations/__init__.py


venv/
env/
ENV/

.env
.env.*
!.env.example

.dockerignore
Dockerfile*
docker-compose*.yml

build/
dist/
*.egg-info/

.vscode/
.idea/

static/
media/
