version: "3.9"

services:
  redis:
    image: redis:7
    container_name: medtrax-redis
    restart: always
    ports:
      - "6379:6379"

  web:
    build: .
    container_name: medtrax-web
    command: daphne -b 0.0.0.0 -p 8000 medtrax.asgi:application
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - EMAIL_HOST_USER=${EMAIL_HOST_USER}
      - EMAIL_HOST_PASSWORD=${EMAIL_HOST_PASSWORD}
    depends_on:
      - redis

  qcluster:
    build: .
    container_name: medtrax-qcluster
    command: python manage.py qcluster
    volumes:
      - .:/app
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - EMAIL_HOST_USER=${EMAIL_HOST_USER}
      - EMAIL_HOST_PASSWORD=${EMAIL_HOST_PASSWORD}
    depends_on:
      - redis
